body, nav {margin: 0px; padding: 0;}
header, head, nav, aside,section,footer{
	display: block;
}
body {
    text-align: center;
}
.whole {
    width: 1000px;
    margin: 20px auto;
	border: 2px solid black;
    #background: #132229;
}
.headings {
    margin-right: 800px;
    border: 1px solid black;
    #background-color: yellow;
}
.ad {
    border: 1px solid black;
    margin-left: 200px;
	#margin-right: 200px;
}
.bar {
    border: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -200px;
    margin-left: 80%;
	margin-bottom: 7%;
    #background-color: purple;
	padding-bottom: 20px;
	z-index: -1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav{
    border: 1px solid black;
    margin-left: 200px;
    #background-color: #132229;
	margin-top: -110px;
	
}
.nav li {
    position: relative;
    display: inline-block;
    #float: left;
    padding: 20px;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}
.nav a:hover {background-color: red}
.topitems {
    border: 1px solid black;
	height: 200px;
	margin-right: 200px;
	position: relative;
	
}

.sect_title {
	position: relative;
	height:25px;
}
.sections {
	
}
.sect {
	border: 1px solid black;
    float: left;
	width: 49%;
	height: 400px;
    #margin-right: 200px;
    #margin-left: 200px;
	#margin-top: -200px;
	position: relative;
    #background-color: #3a945b;
}

.sect2 {
	border: 1px solid black;
    float: right;
	width: 49%;
	height: 400px;
    #margin-right: 200px;
    #margin-left: 200px;
	#margin-top: -200px;
	position: relative;
    #background-color: blue;
}

p {
	text-align: center;
	margin: 30px 10px;
	font-family: "Monotype Corsiva";
}

h2 {
	top: -20px;
	left: 16px;
	#font-family: ;
	position: absolute;
}

h3 {
	top: 0;
	left: 16px;
	#font-family: ;
	position: absolute;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footer {
	clear: both;
	padding-top: 20px;
	border: 2px solid black;
    #background-color: #15343c;
}